_etc
_data-examples
AutoTrader/cert
AutoTrader/binance-futures-trader/binance_ftrs_venv
# AutoTrader/BinanceTrader/strategy
*cert*
*test.py
*test.ipynb
/Python/test.ipynb

*__backupbackup*

*ex_data*
*venv*

# files
# BFC_um-futures(HTTP).md
binance_backtesting.ipynb
*.pkl
binance_backtesting_useclass.txt