_etc
_data-examples
_data*
AutoTrader/cert
AutoTrader/binance-futures-trader/binance_ftrs_venv
# AutoTrader/BinanceTrader/strategy
*cert*
*testFiles*
*test.py
*test.ipynb
/Python/test.ipynb
AutoTrader/BinanceTrader/rt_trader/logFiles

*__backupbackup*

*ex_data*
*venv*

# files
# BFC_um-futures(HTTP).md
binance_backtesting.ipynb
*.pkl
binance_backtesting_useclass.txt

Results22*

Algo_Study.md
*zzz_subin_torch_hw_202211/

_kakao_internship_*
_data_dacon_*

*streamDataExample.txt*


# DL 찌꺼기들.

*.hdf5
*.h5
*my_logs


aaa.py

.DS_store